<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{ isCurrentJob: boolean }>()

const name = 'João Palmeiro'
const description = computed(() => {
  return props.isCurrentJob ? 'Full-stack Developer' : 'Ex-Data Visualization Engineer'
})
const company = computed(() => {
  return props.isCurrentJob ? 'Jungle' : 'Feedzai'
})
const tagColor = computed(() => {
  return props.isCurrentJob ? 'warning' : 'success'
})
</script>

<template>
  <div class="flex flex-col sm:flex-row gap-6 pt-2 w-full justify-center items-center">
    <!-- https://github.com/onu-ui/onu-ui/blob/main/packages/components/avatar/src/index.vue -->
    <!-- https://onu.zyob.top/components/avatar.html -->
    <!-- https://github.com/onu-ui/onu-ui/blob/main/packages/components/badge/src/index.vue -->
    <!-- https://onu.zyob.top/components/badge.html -->
    <!-- Workaround: !important flags ("!") for some styles to be applied in production. See main.ts for details. -->
    <o-badge class="o-warning!" value="👋">
      <o-avatar class="rounded!" size="lg" src="https://raw.githubusercontent.com/joaopalmeiro/joaopalmeiro.github.io/master/joao.jpg" />
    </o-badge>
    <div class="flex flex-col">
      <h1 class="font-semibold text-3xl sm:text-4xl">
        {{ name }}
      </h1>
      <h2 class="text-sm sm:text-base">
        {{ description }}
        <o-tag :type="tagColor" light size="xs" class="font-mono">
          {{ company.toUpperCase() }}
        </o-tag>
      </h2>
    </div>
  </div>
</template>
