<script setup lang="ts">
import { useClipboard } from '@vueuse/core'
import { OMessage as message } from 'onu-ui'
// https://vuejs.org/guide/typescript/composition-api.html#typing-component-props
// defineProps<{ msg: string }>()
// https://tailwindcss.com/docs/responsive-design#targeting-mobile-screens

// https://vueuse.org/core/useClipboard/
// https://github.com/vueuse/vueuse/blob/main/packages/core/useClipboard/demo.vue
const { copy } = useClipboard()

const emailIcon = 'i-carbon-email-new'

// https://onu.zyob.top/components/message.html
const open = () => {
  copy('joaopalmeiro@proton.me')
  message({
    // content: 'Email address copied to clipboard',
    content: 'Email copied',
    type: 'primary',
    closable: false,
    icon: emailIcon,
  })
}

interface Profile {
  id: number
  url: string
  icon: string
  text: string
}

const profiles: Profile[] = [
  {
    id: 1,
    url: 'https://github.com/joaopalmeiro',
    icon: 'i-carbon-logo-github',
    text: 'GitHub',
  },
  {
    id: 2,
    url: 'https://www.instagram.com/oterceiroolho/',
    icon: 'i-carbon-logo-instagram',
    text: 'Instagram',
  },
  {
    id: 3,
    url: 'https://www.linkedin.com/in/joaopalmeiro/',
    icon: 'i-carbon-logo-linkedin',
    text: 'LinkedIn',
  },
]
</script>

<template>
  <div class="flex flex-col sm:flex-row gap-2">
    <!-- https://onu.zyob.top/components/button.html -->
    <!-- https://carbondesignsystem.com/guidelines/icons/library/ -->
    <!-- https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/base.css -->
    <o-button v-for="profile in profiles" :key="profile.id" type="info" light :to="profile.url">
      <template #icon>
        <div :class="profile.icon" />
      </template>
      {{ profile.text }}
    </o-button>

    <o-button type="primary" text class="mt-2! sm:mt-0!" @click="open">
      <template #icon>
        <div :class="emailIcon" />
      </template>
      Email me
    </o-button>
  </div>
</template>
