<script setup lang="ts">
import { useToggle } from '@vueuse/core'

import ProfileHeader from './components/ProfileHeader.vue'
import SocialMedia from './components/SocialMedia.vue'

// https://vueuse.org/shared/usetoggle/
const [isCurrentJob, toggleJob] = useToggle(true)
</script>

<template>
  <!-- https://www.hyperui.dev/components/marketing/blog-cards#component-5 -->
  <main class="font-sans px-8 pt-24 max-w-fit mx-auto">
    <!-- <div class="rounded-lg border border-gray-100 p-4 shadow-sm flex flex-col items-center gap-4">
      <ProfileHeader />
      <SocialMedia />
    </div> -->

    <!-- <o-card shadow="hover"> -->
    <o-card shadow="never">
      <template #header>
        <ProfileHeader :is-current-job="isCurrentJob" />
      </template>
      <div class="flex flex-row justify-center pb-6">
        <button class="leading-none! text-base flex flex-row gap-2" @click="toggleJob()">
          <span :class="[!isCurrentJob ? 'text-green-400' : 'text-gray-200']">▨</span>
          <span :class="[isCurrentJob ? 'text-orange-400' : 'text-gray-200']">▨</span>
        </button>
      </div>
      <SocialMedia />
    </o-card>
  </main>
</template>
